.sara {
    &-1 {
        background-image: url("./../assest/sara-1.png");
    }

    &-2 {
        background-image: url("./../assest/sara-2.png");
    }

    &-3 {
        background-image: url("./../assest/sara-3.png");
    }

    &-4 {
        background-image: url("./../assest/sara-4.png");
    }

    &-5 {
        background-image: url("./../assest/sara-5.png");
    }

    &-6 {
        background-image: url("./../assest/sara-6.png");
    }

    &-bye {
        background-image: url("./../assest/sara-bye.png");
    }
}

.lara {
    &-1 {
        background-image: url("./../assest/lara-1.png");
        height: 520px;
    }

    &-2 {
        background-image: url("./../assest/lara-2.png");
        height: 520px;
    }

    &-3 {
        background-image: url("./../assest/lara-3.png");
        height: 520px;
    }

    &-4 {
        background-image: url("./../assest/lara-4.png");
        height: 520px;
    }

    &-5 {
        background-image: url("./../assest/lara-5.png");
        height: 520px;
    }

    &-6 {
        background-image: url("./../assest/lara-6.png");
        height: 520px;
    }

    &-bye {
        background-image: url("./../assest/lara-bye.png");
        height: 520px;
    }
}
