.office-1 {
    background-image: url("./../assest/office.jpg");
}

.office-2 {
    background-image: url("./../assest/office-2.jpg");
}

.office-3 {
    background-image: url("./../assest/office-3.jpg");
}
