* {
    margin: 0;
}

.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide {
    display: flex;
    height: 100%;
}

.lady {
    width: 200px;
    height: 500px;
    align-self: flex-end;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
